#top-container {
    height: 79vh;
}

input, textarea{
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}

footer ul li img {
    width: 3vw;
}

article {
    background-color: lightgray;
}